#include <stdio.h>
#include <math.h>



int main () {
	float x,y,a,b,c;
	x = 0;
	y = 0;
	a = 0;
	b = 0;
	c = 0;
     printf("Que valor le quieres dar a: a \n");
     scanf("%f",&a);
     printf("Que valor le quieres dar a: b \n");
     scanf("%f",&b);
     printf("Que valor le quieres dar a: c \n");
     scanf("%f",&c);
     x = (((-1 * b) + (sqrt ((b*b) - ((4 * a)*c)))) / (2 * a));
     y = (((-1 * b) - (sqrt ((b*b) - ((4 * a)*c)))) / (2 * a));
     printf("el valor de x es %f y %f \n",x,y);
     system ("pause");
     return 0;   
}
